/*   ========== ========== About ========== ==========   */

html, body
{
	overflow-x: hidden;
  color: var(--color-white);
	background: var(--color-dark-dark);
}

.about__section
{
	width: 100%;
	height: 100%;
}

.about__container
{
	width: 96%;
	margin: 0px auto;
}

.divider
{
	width: 100%;
	height: 2px;
	background: var(--color-white);
}

.whitespace
{
	width: 100%;
	height: 100px;
}

/* ========== About Text Left ========== */

.about__content-text
{
	margin: 80px 0;
	z-index: 2 !important;
}

.about__title
{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 10em;
  padding-top: 1em;
}

@media (max-width: 900px)
{
	.about__title
  {
		font-size: 5.4rem;
	}
}

/* ========== About Image Right ========== */

.about__container-img
{
	width: 100%;
	margin-top: -300px;
}

.about__container-img::after
{
	content: '';
	display: table;
	clear: both;
}

.about__content-img
{
	width: 40%;
	float: right;
}

.about__image
{
	width: 100%;
}

@media (max-width: 900px)
{
	.about__container-img 
  {
		margin-top: 40px;
	}
	.about__content-img
  {
		width: 100%;
	}
}

/* ========== About Container Description ========== */

.about__content-description
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 12px 0;
	font-size: 16px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* ========== About Container Text ========== */

.about__container-text
{
	width: 100%;
}

.about__container-text::after
{
	content: '';
	display: table;
	clear: both;
}

.about__content-text
{
	width: 70%;
	float: right;
}

.about__paragraph
{
  margin: 40px 0;
	font-size: 36px;
  color: var(--color-subtitle);
}

@media (max-width: 900px)
{
	.about__content-text
  {
		width: 100%;
	}
	.about__paragraph
  {
		font-size: 24px;
	}
}

/* ========== projects ========== */

.project__menu
{
  padding: 0vh 0 0 0vh;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  font-size: 8vw;
}

.menu__item
{
	position: relative;
	padding: 1.6vw 0 0 0;
	margin: 4px;
}

.menu__item-link
{
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: var(--color-white);
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}

.menu__item-link::before
{
	all: initial;
	text-transform: uppercase;
	counter-increment: menu;
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover
{
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	opacity: 0;
}

.menu__item-img
{
	pointer-events: none;
	position: absolute;
	height: 50vh;
	max-height: 400px;
	opacity: 0;
	left: 100%;
	top: 50%;
	-webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
	transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover + .menu__item-img
{
	opacity: 1;
	-webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
	transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.marquee
{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: var(--color-white);
	pointer-events: none;
	mix-blend-mode: difference;
}

.marquee__inner
{
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-animation: marquee 5s linear infinite;
	animation: marquee 5s linear infinite;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
	opacity: 0;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
	padding: 2vw 0;
}

.menu__item-link:hover ~ .marquee .marquee__inner
{
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 1;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.menu__item-link, .marquee span
{
	white-space: nowrap;
	font-size: 8vw;
	padding: 1.6vw 1vw;
	font-weight: 900;
}

.marquee span
{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

@-webkit-keyframes marquee
{
	0%
  {
		-webkit-transform: translate3d(var(--move-initial), 0, 0);
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100%
  {
		-webkit-transform: translate3d(var(--move-final), 0, 0);
		transform: translate3d(var(--move-final), 0, 0);
	}
}

@keyframes marquee
{
	0%
  {
		-webkit-transform: translate3d(var(--move-initial), 0, 0);
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100%
  {
		-webkit-transform: translate3d(var(--move-final), 0, 0);
		transform: translate3d(var(--move-final), 0, 0);
	}
}

.about__me p
{
	font-family: 'josefin Sans', sans-serif;
	font-size: 80px;
	line-height: 100px;
}

@media (max-width: 900px)
{
	.about__me p
  {
		font-size: 36px;
		line-height: 50px;
		text-align: justify;
	}
}

/* ========== About Socials ========== */

.socials
{
	padding: 20px 0;
}

.socials .socials__container
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.socials .socials__container a
{
	cursor: pointer;
  color: var(--color-title);
	text-decoration: none;
	font-size: 64px;
}

.socials .socials__container a:hover
{
  color: var(--color-alternate-2);
}

@media (max-width: 900px)
{
	.socials .socials-container a
	{
		font-size: 30px;
	}
}

/* ========== Footer ========== */

.footer__info
{
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 12px 0;
	font-size: 16px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.footer__paragraph
{
  -webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.footer__data
{
  -webkit-box-flex: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	text-align: right;
}