/*   ========== ========== Footer ========== ==========   */

.collab
{
  text-align: right;
}

.collab p
{
  font-weight: lighter !important;
  margin-bottom: 20px;
}

.hr
{
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}

.info h4
{
  font-size: 25px;
  font-weight: 400;
}

.info p
{
  color: grey;
  font-weight: lighter;
}

.info li
{
  font-weight: 400;
  color: #B39565;
  font-size: 18px;
  padding-left: 20px;
}

.footer__link
{
  color: #B39565;
  transition: .4s;
}

.footer__link:hover
{
  color: #F7743D;
  text-decoration: none;
}

#linkedin::before, #instagram::before, #twitter::before, #github::before
{
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #3b5998;
}

#instagram::before
{
  background: #fc45e4;
}

#twitter::before
{
  background: #55acee;
}

#github::before
{
  background: #F7743D;
}

#media, #address
{
  text-align: right;
}

#media ul
{
  list-style: none;
}

#media ul li
{
  display: inline-block;
}

@media(max-width: 768px)
{
  .collab, #personal, #media, #address
  {
    text-align: center;
  }

  .info ul
  {
    margin: 0 0 0 -22px;
    padding: 0;
  }
}