/*   ========== ========== Root ==========  ==========  */

:root
{
  --color-white: #FFFFFF;
  --color-white-light: #FFF8EE;
  --color-gray: #999D9E;
  --color-border-gray: rgba(255, 255, 255, 0.2);
  --color-dark: #1C1D20;
  --color-dark-dark: #000000;
  --color-subtitle: #bb7330;
  --color-subtitle-rgba: rgba(172, 107, 52, 0.9);
  --color-title: #B39565;
  --color-background: #c9b786da;
  --color-alternate: #FF9E52;
  --color-alternate-1: #FEC07E;
  --color-alternate-2: #F7743D;
  --font-family-1: 'Josefin Sans', sans-serif;
  --font-family-2: 'Cormorant SC', serif;
}

/*   ========== ========== Base ==========  ==========  */

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body
{
  font-family: 'Josefin Sans', sans-serif;
  background: var(--color-dark-dark) !important;
  color: var(--color-white) !important;
}

.whitespace
{
  width: 100%;
  height: 100px;
}

@media(max-width: 768px)
{
  .whitespace
  {
    display: none;
  }
}
